<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652090209411-gj8ujhf6uql5l1lv9sngtpnrvfqsh2h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652090209411-gj8ujhf6uql5l1lv9sngtpnrvfqsh2h9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9pMbxtQEmz4oL-hO5zqDnNf1GF2akRxY</string>
	<key>GCM_SENDER_ID</key>
	<string>652090209411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gasmlangoni.app</string>
	<key>PROJECT_ID</key>
	<string>ravolapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ravolapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652090209411:ios:7115494ad06717581097b6</string>
	<key>DATABASE_URL</key>
	<string>https://ravolapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>